:root {
  --daytexttext-01: rgba(0, 0, 0, 0.8);
  --nighttextlink: rgba(61, 145, 255, 1);
  --nightbaseaccent: rgba(66, 139, 249, 1);
  --daybaseprimary: rgba(255, 221, 45, 1);
  --daytextlink: rgba(51, 111, 238, 1);
  --nighttexttext-01: rgba(255, 255, 255, 0.88);
  --daybasesecondary: rgba(236, 241, 247, 1);
  --nightbasesecondary: rgba(255, 255, 255, 0.1);
  --daybaseclear: rgba(0, 0, 0, 0.04);
  --daybasebase-01: rgba(255, 255, 255, 1);
  --nightbasebase-01: rgba(18, 18, 18, 1);
  --nightbaseclear: rgba(255, 255, 255, 0.1);
  --daytextlink-hover: rgba(31, 80, 186, 1);
  --nighttextlink-hover: rgba(113, 175, 255, 1);
  --daytexttext-02: rgba(0, 0, 0, 0.54);
  --nighttexttext-03: rgba(255, 255, 255, 0.5);
  --nighttexttext-02: rgba(255, 255, 255, 0.72);
  --daybaseprimary-hover: rgba(252, 197, 33, 1);
  --daybaseprimary-active: rgba(250, 182, 25, 1);
  --daybasesecondary-hover: rgba(228, 235, 243, 1);
  --daybasesecondary-active: rgba(221, 228, 237, 1);
  --nightbasesecondary-hover: rgba(255, 255, 255, 0.16);
  --nightbasesecondary-active: rgba(255, 255, 255, 0.2);
  --daybaseclear-hover: rgba(0, 0, 0, 0.08);
  --daybaseclear-active: rgba(0, 0, 0, 0.12);
  --nightbaseclear-hover: rgba(255, 255, 255, 0.16);
  --nightbaseclear-active: rgba(255, 255, 255, 0.2);
  --desktop-body-s-16-font-family: "NeueHaas Unica W1G-Regular", Helvetica;
  --desktop-body-s-16-font-weight: 400;
  --desktop-body-s-16-font-size: 13px;
  --desktop-body-s-16-letter-spacing: 0px;
  --desktop-body-s-16-line-height: 16px;
  --desktop-body-s-16-font-style: normal;
  --desktop-body-m-font-family: "NeueHaas Unica W1G-Regular", Helvetica;
  --desktop-body-m-font-weight: 400;
  --desktop-body-m-font-size: 15px;
  --desktop-body-m-letter-spacing: 0px;
  --desktop-body-m-line-height: 24px;
  --desktop-body-m-font-style: normal;
}
